<div class="jumbotron contactMe">
</div>
<h1>Contact Information.</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      If you are interested getting in touch, please don't hesitate to contact me at any of the following:
      <div class="contactInfo">
        <ul class="contactInfo">
          <li>Email at <a href="mailto:contact@jordanheinrichs.com">contact@jordanheinrichs.com</a></li>
          <li>Github at <a href="http://github.com/jordanheinrichs">github.com/jordanheinrichs</a></li>
          <li>Facebook at <a href="http://facebook.com/jordan.heinrichs">facebook.com/jordan.heinrichs</a></li>
          <li>Google Plus at <a href="http://google.com/+jordanheinrichs">google.com/+jordanheinrichs</a></li>
        </ul>
      </div>
      My resume is available <a href="https://github.com/JordanHeinrichs/Resume/blob/master/JordanHeinrichsResume.pdf" target="_blank">here</a>.
    </div>
  </div>
</div>
