<div class="container-fluid backdrop text-center">
  <menubar></menubar>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
<br>
<div class="container-fluid footer">
  <div class="row pull-right">
    <div class="col-md-12">
      <a href="http://www.facebook.com/jordan.heinrichs">
        <img src="/assets/icon/Facebook.svg">
      </a>
      <a href="http://plus.google.com/+JordanHeinrichs">
        <img src="/assets/icon/Google+.svg">
      </a>
      <a href="http://github.com/jordanheinrichs">
        <img src="/assets/icon/Github.svg">
      </a>
      <a href="http://www.linkedin.com/in/jordan-heinrichs-688258110">
        <img src="/assets/icon/Linkedin.svg">
      </a>
  </div>
<br>
