@import url(/assets/css/font-awesome.min.css);

body {
   background-color: #5e5e5e;
}

.footer {
   width: 1068px;
   align-content: right;
   padding-bottom: 25px;
}

.footer img {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   height: 44px;
}

.footer img:hover {
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
}

.footer a {
   text-decoration: none;
}

.backdrop {
   width: 1068px;
   background-color: white;
   padding-left: 0;
   padding-right: 0;
}

@media (max-width: 1040px) {
   .footer,
   .backdrop {
      width: 100%;
   }
}

* {
   font-family: 'Cabin', sans-serif;
   font-size: 102%;
}

a {
    color: #df5d32;
}
