/* You can add global styles to this file, and also import other style files */

body {
  background-color: #5e5e5e;
}

* {
  font-family: 'Cabin', sans-serif;
  font-size: 102%;
}

a {
   color: #df5d32;
}
